name: Go

on:
  push:
    branches:
      - master
  pull_request:

env:
  # renovate: datasource=golang-version depName=golang
  GO_VERSION: '1.22.0'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Setup DynamoDB Local
      uses: rrainn/dynamodb-action@a839324dce7bae1fafac6a62922e37675c6caf23 # v3.0.0
      with:
        port: '18000'
        cors: '*'

    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5
      with:
        go-version: '${{ env.GO_VERSION }}'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -cover ./...
      env:
        AWS_REGION: local
